.bar {
    border-radius: 20px 20px 0 0;
    height: 80px;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}
.bar h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item {
    align-self: center;
    width: 90%;
    height: 2rem;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--secondary);
    border-radius: 10px/10px;
    text-align: center;
} 
.item:hover {
    background-color: var(--accent);
}