.gridContainer {
    position: fixed;
    height: calc(100vh - 20px);
    max-height: calc(100vh - 20px);
    width: calc(100vw - 40px);
    max-width: calc(100vw - 40px);
    max-height: 100vh;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    column-gap: 10px;
    margin: 10px;
}
.gridItem {
    border-radius: 20px;
    background-color: var(--primary);
}