.bar {
    position: relative;
    border-radius: 20px;
    height: 80px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bar div {
    display: flex;
    position: absolute;
    bottom: 4px;
    width: 60%;
    height: 1.5rem;
    border-radius: 10rem;
    background-color: var(--background);
    
}
.bar div input {
    position: absolute;
    height: 100%;
    width: 90%;
    border: none;
    outline: none;
    left: 0.75rem;
    translate: 50%, 0;
    background-color: var(--background);
}
.bar div select {
    position: absolute;
    transition: 1s;
    right: 0;
    height: 100%;
    border-radius: 100rem;
    border: none;
    outline: none;
    background-color: var(--background);
}

.mp3Section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 1s;
}

.mp3Container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    aspect-ratio: 1.61803398875/1;
    width: 150px;
    margin: 10px;
    background-color: var(--secondary);
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
} 
.selected {
    background-color: var(--accent);
}
.mp3Title {
    color: var(--text);
}
.mp3Artist{
    font-size: 0.8rem;
}
.mp3Duration{
    background-color:  var(--background);
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 20px;
    font-family: "Black Ops One", system-ui;
}
.mp3GlobalPath{
    display: none;
    position: absolute;
    font-size: 70%;
    height: max(10px);
    overflow-wrap: break-word;
    bottom: 0;
}

.mp3RelativePath {display: none;}